.html{
    font-family:  Arial ;
}
.headerpic{

    height:300px; 
    background-size:auto;
    width:auto;
    background-image:url('headerbg.jpg');
 
}
.leftsection{

    position: relative;
    right: 380px;
    top: 50px;

}
#map{

    width: 1400px;
    height: 500px;
}
.rightsection{

    position: relative;
    left:500px;
    bottom:150px;
}
.listofcontacts{

    font-size: large;

}
.callus{
  color: #4CAF50;
}