<html >
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a [routerLink]="['/nav']" class="navbar-brand" href="#">FlourMill</a>

  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">

  
  <ul  class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/requests']" routerLinkActive="active">Requests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/products']" routerLinkActive="active">Products Managements</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/truckdrivermang']" routerLinkActive="active">Truck Driver Managment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/location']" routerLinkActive="active">Track Shipments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/reports']" routerLinkActive="active">Reports</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link " [routerLink]="['/sales']" routerLinkActive="active">Sales</a>
      </li>
   
    </ul>

    <div *ngIf="loggedIn()" class="dropdown" dropdown>
        <a class="  dropdown-toggle text-light" dropdownToggle>
        Welcome  {{authService.decodedToken?.unique_name}}
        </a>
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item" href="#"><i class="fa fa-user" ></i>Edit Profile</a>
  
          <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out" ></i>Logout</a>
        </div>
      </div>
  
      <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
        <input class="form-control mr-sm-2" type="text" name="username" required placeholder="Username" [(ngModel)]="model.username">
        <input class="form-control mr-sm-2" type="password" name="password" required placeholder="Password" [(ngModel)]="model.password">
        <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
      </form>
  
</nav>

<div class="ng-container mt-4">
<div class="row">

  <div class="col-sm-4">

    <div class="card">

    
    <div class="card-body">
      <div>
<strong>Truck Driver Name</strong>
      <p>{{truckManageFull?.username}}</p>
      </div>

      <div>
        <strong>Truck Driver Flour Mill Name</strong>
              <p>{{this.authService.decodedToken.unique_name}}</p>
              </div>
      <div>
        <strong>National ID</strong>
        <p>{{truckManageFull?.nationalId}}</p>
      </div>
      <div>
        <strong>Birth Date</strong>
        <p>{{truckManageFull?.birthDate}}</p>
      </div>
      <div>
        <strong>Phone Number</strong>
        <p>{{truckManageFull?.phoneNumber}}</p>
      </div>


    </div>
    <div class="card-footer"></div>
    <div class="btn-group d-flex">
      <button class="btn btn-primary w-100">Share on Facebook</button>
      <button class="btn btn-success w-100">Share on Instgram</button>
    </div>
    </div>
  </div>
  <div class="col-sm-8">
<div class="tab-panel">
<tabset class="member-tabset">
<tab heading="About {{truckManageFull?.username}}">
<h4>Total Payment For The Truck Driver</h4>
<p>{{truckManageFull?.payment}}</p>
<h4>Total Tons Deliverd</h4>
<p>{{truckManageFull?.tons}}</p>
</tab>

<tab heading="Edit">

  <form #truckForm="ngForm" id="truckForm" (ngSubmit)="updateTruck()">
    <h4>Truck Driver Phone Number</h4>
    <textarea class="form-control" name="ysname" rows="6" 
      [(ngModel)]="truckManageFull.phoneNumber"></textarea>
    <h4>National ID</h4>
    <textarea class="form-control" name="ssname" rows="6" 
      [(ngModel)]="truckManageFull.nationalId"></textarea>
      <h4>Job Number</h4>
      <textarea class="form-control" name="Bsname" rows="6" 
        [(ngModel)]="truckManageFull.jobNumber"></textarea>
    <div class="form-inline">
      <div class="card-footer">
        <button  form="truckForm" class="btn btn-success btn-block">Save Changes</button>
    </div>
    </div>
    
</form>

</tab>






</tabset>
</div>
  </div>
</div>
</div>


</html>